/*
Theme Name: Motovise
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: bootstrap, responsive, mobile ready
Text Domain: motovise
*/

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6,
.article-content hr {
    width: 750px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

.empty-article-picture {
    background-color: #B6B6B6;
}

.blog-card__text.blog-card__no-img {
    padding-top: 75px;
}

.blog-card__date.blog-card__no-img {
    background-color: white;
    border-color: rgba(0, 0, 0, .2);
}

.blog-card__date.blog-card__no-img p {
    color: rgba(0, 0, 0, .2);
}

#infinitescroll-on_scroll {
    visibility: hidden;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
