html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
body {
	min-width: 320px;
}
a {
	outline-color: transparent!important;
}
a:hover,
a:focus {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 688px;
	margin-left: auto;
	margin-right: auto;
}
.site-main {
	position: relative;
	z-index: 0;
	/* min-height: calc(100vh - 422px); */
}
.site-main--blocked {
}
h1,h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 60px;
}
/* variables */
:root {
	--accentColor: #E82828;
	--gray: #B6B6B6;
	--elasticMove: 0.3, 0.5, 0.5, 1.5;
	--rockMove: 0.3, -0.5, 0.5, 1.5;
}
.site-header {
	position: relative;
	z-index: 1;
}
.site-header:not(.site-header--dark) {
	width: 100%;
	height: 80px;
	background-color: #FFF;
	border-bottom: 1px solid #e5e5e5;
}
.site-header:not(.site-header--dark) .header-control {
	top: 25px;
}
.site-footer {
	width: 100%;
	background-color: black;
	padding-top: 50px;
	padding-bottom: 50px;
}
.header-control {
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 40px;
	padding-left: 40px;
	padding-right: 40px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	--headerColor: #060704;
}
.site-header--dark .header-control {
	opacity: 0;
	will-change: opacity, transform;
	-webkit-transform: translateY(-40px);
	        transform: translateY(-40px);
	-webkit-animation: opacityDown 1.5s .5s forwards;
	        animation: opacityDown 1.5s .5s forwards;
}
@-webkit-keyframes opacityDown {
	from {
		opacity: 0;
		-webkit-transform: translateY(-40px);
		        transform: translateY(-40px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
@keyframes opacityDown {
	from {
		opacity: 0;
		-webkit-transform: translateY(-40px);
		        transform: translateY(-40px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
.site-header--dark .header-control {
	--headerColor: white;
}
/* @media (width <= 767px) and (orientation: landscape) {
	.header-control::before {
		display: block;
		position: absolute;
		z-index: -1;
		content: "";
		height: calc(100% + 70px);
		width: 100%;
		top: -40px;
		left: 0;
		background-color: transparent;
		filter: blur(5px);
	}

	.header-control--open-menu::before {
		background-color: var(--accentColor);
		transition: background-color .3s 1s;
	}
} */
.home-link path {
	-webkit-transition: fill .3s;
	transition: fill .3s;	
}
.site-header .home-link path {
	fill: black;
}
.site-header--dark .home-link path,
.site-header:not(.site-header--dark) .header-control--open-menu .home-link path {
	fill: white;
}
.site-header:not(.site-header--dark) .home-link .logo-img,
.site-header--dark .home-link:hover .logo-img,
.site-header:not(.site-header--dark) .header-control--open-menu .home-link:hover .logo-img {
	fill: var(--accentColor);
}
.site-header:not(.site-header--dark) .home-link:hover .logo-img {
	fill: black;
}
.header-control__logo {
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: visibility .3s, opacity .3s;
	transition: visibility .3s, opacity .3s;
	will-change: transform, opacity;
	visibility: visible;
	pointer-events: all;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.inspection-link {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
	color: var(--headerColor);
	-webkit-transition: color .3s;
	transition: color .3s;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	letter-spacing: 1px;
	margin-left: 60px;
}
.site-header:not(.site-header--dark) .header-control--open-menu .inspection-link {
	color: white;
}
.inspection-link:hover,
.site-header:not(.site-header--dark) .header-control--open-menu .inspection-link:hover {
	color: var(--accentColor);
}
.inspection-link::before {
	position: absolute;
	top: -7px;
	left: -30px;
	display: block;
	width: 1px;
	height: 28px;
	background-color: var(--headerColor);
	opacity: 0.5;
	content: "";
	pointer-events: none;
}
.site-header:not(.site-header--dark) .header-control--open-menu .inspection-link::before {
	background-color: white;
}
.inspection-link span {
	position: relative;
	top: -1px;
	width: 15px;
	height: 15px;
	margin-right: 12px;
}
.inspection-link span::before,
.inspection-link span::after {
	position: absolute;
	display: block;
	background-color: currentColor;
	content: "";
}
.inspection-link span::before {
	top: 7px;
	left: 0;
	width: 100%;
	height: 1px;
}
.inspection-link span::after {
	top: 0;
	left: 7px;
	width: 1px;
	height: 100%;
}
.header-control__burger-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
}
.header-control__burger-wrapper > span {
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: right;
	color: var(--headerColor);
	letter-spacing: 1px;
	text-transform: uppercase;
}
.site-header:not(.site-header--dark) .header-control--open-menu .header-control__burger-wrapper > span {
	color: white;
}
.header-control__burger {
	position: relative;
	width: 30px;
	height: 22px;
	-webkit-transition: -webkit-transform .3s cubic-bezier(0.3, 0.5, 0.5, 1.5);
	transition: -webkit-transform .3s cubic-bezier(0.3, 0.5, 0.5, 1.5);
	transition: transform .3s cubic-bezier(0.3, 0.5, 0.5, 1.5);
	transition: transform .3s cubic-bezier(0.3, 0.5, 0.5, 1.5), -webkit-transform .3s cubic-bezier(0.3, 0.5, 0.5, 1.5);
	-webkit-transform-origin: center;
	        transform-origin: center;
	margin-left: 15px;
}
.header-control__burger span,
.header-control__burger::before,
.header-control__burger::after {
	position: absolute;
	right: 0;
	display: inline-block;
	width: 100%;
	height: 2px;
	background-color: var(--headerColor);
	-webkit-transition: background-color .3s, width .3s cubic-bezier(var(--elasticMove));
	transition: background-color .3s, width .3s cubic-bezier(var(--elasticMove));
	content: "";
}
.header-control__burger::before {top: 0;width: 80%;}
.header-control__burger span {top: calc(50% - 1px);width: 100%;}
.header-control__burger::after {bottom: 0;width: 80%;}
.header-control__burger-wrapper:hover .header-control__burger::before {width: 100%;}
.header-control__burger-wrapper:hover .header-control__burger span {width: 80%;}
.header-control__burger-wrapper:hover .header-control__burger::after {width: 100%;}
.header-control__burger-wrapper:hover .header-control__burger::before,
.header-control__burger-wrapper:hover .header-control__burger span,
.header-control__burger-wrapper:hover .header-control__burger::after {background-color: var(--accentColor);}
.header-control__burger--active {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
.header-control__burger--active span,
.header-control__burger--active::before,
.header-control__burger--active::after {
	background-color: #fff;
}
.header-control__burger--active::before {
	top: 10px;
	width: 100%;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.header-control__burger--active span {
	opacity: 0;
}
.header-control__burger--active::after {
	top: 10px;
	width: 100%;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.header-control__burger-wrapper:hover .header-control__burger--active::before {
	background-color: var(--accentColor);
	-webkit-transform: rotate(-45deg) scale(1.1);
	        transform: rotate(-45deg) scale(1.1);
}
.header-control__burger-wrapper:hover .header-control__burger--active::after {
	background-color: var(--accentColor);
	-webkit-transform: rotate(45deg) scale(1.1);
	        transform: rotate(45deg) scale(1.1);
}
.header-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 40px;
	pointer-events: none;
}
.header-menu--active {
	height: 100%;
	pointer-events: all;
	min-height: 100vh;
}
.header-menu__content {
	width: 100%;
	height: 100%;
	min-height: 560px;
}
.header-menu__bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.header-menu__bg::before {
	position: absolute;
	top: -50vmax;
	right: -50vmax;
	z-index: -1;
	display: block;
	width: 100vmax;
	height: 100vmax;
	background-color: #191919;
	border-radius: 50%;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	will-change: transform;
	content: "";
	-webkit-transform: scale(0);
	        transform: scale(0);
	-webkit-transform-origin: center;
	        transform-origin: center;
}
.header-menu--active .header-menu__bg::before {
	-webkit-transform: scale(3);
	        transform: scale(3);
}
.header-menu__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	min-height: calc(100% - 80px);
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
	pointer-events: none;
}
.header-menu--active .header-menu__items {
	pointer-events: all;
}
.header-menu__items ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.header-menu__items li {
	text-align: center;
}
.header-menu__items a {
	font-weight: bold;
	font-size: 48px;
	line-height: 100px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFFFFF;
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration: none;
	text-transform: uppercase;
}
.how-it-works-about-u {
	width: 300px;
	height: 500px;
	font-weight: bold;
	font-size: 48px;
	line-height: 100px;
	font-family: "Roboto Condensed";
	text-align: center;
	color: #FFFFFF;
}
.header-menu__items a:hover {
	color: var(--accentColor);
}
.header-menu .header-menu__items li {
	opacity: 0;
	-webkit-transform: translateY(100%);
	        transform: translateY(100%);
	-webkit-transition-delay: 0;
	        transition-delay: 0;
}
.header-menu--active .header-menu__items li {
	opacity: 1;
	-webkit-transition: opacity .3s, -webkit-transform .3s cubic-bezier(var(--elasticMove));
	transition: opacity .3s, -webkit-transform .3s cubic-bezier(var(--elasticMove));
	transition: opacity .3s, transform .3s cubic-bezier(var(--elasticMove));
	transition: opacity .3s, transform .3s cubic-bezier(var(--elasticMove)), -webkit-transform .3s cubic-bezier(var(--elasticMove));
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}
.header-menu--active .header-menu__items li:nth-last-child(1) {display: none;}
.header-menu--active .header-menu__items li:nth-last-child(1) {-webkit-transition-delay: .2s;transition-delay: .2s;}
.header-menu--active .header-menu__items li:nth-last-child(2) {-webkit-transition-delay: .3s;transition-delay: .3s;}
.header-menu--active .header-menu__items li:nth-last-child(3) {-webkit-transition-delay: .4s;transition-delay: .4s;}
.header-menu--active .header-menu__items li:nth-last-child(4) {-webkit-transition-delay: .5s;transition-delay: .5s;}
.header-menu--active .header-menu__items li:nth-last-child(5) {-webkit-transition-delay: .6s;transition-delay: .6s;}
.header-menu--active .header-menu__items li:nth-last-child(6) {-webkit-transition-delay: .7s;transition-delay: .7s;}
.header-menu__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	pointer-events: none;
	-webkit-transform: translateY(150%);
	        transform: translateY(150%);
	-webkit-transition-delay: 0;
	        transition-delay: 0;
}
.header-menu--active .header-menu__social {
	opacity: 1;
	-webkit-transition: opacity 1.2s, -webkit-transform 1.2s;
	transition: opacity 1.2s, -webkit-transform 1.2s;
	transition: opacity 1.2s, transform 1.2s;
	transition: opacity 1.2s, transform 1.2s, -webkit-transform 1.2s;
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	-webkit-transition-delay: .3s;
	        transition-delay: .3s;	
	pointer-events: all;
}
.header-menu__social a {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #FFFFFF;
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration: none;
}
.header-menu__social a:hover {
	color: var(--accentColor);
}
.first-screen {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 700px;
	overflow: hidden;
}
.first-screen__bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	will-change: transform;
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-animation: zoomout 1s .1s forwards;
	        animation: zoomout 1s .1s forwards;
}
.first-screen__bg picture,
.first-screen__bg img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
@-webkit-keyframes zoomout {
	from {
		-webkit-transform: scale(1.05);
		        transform: scale(1.05);
	}
	to {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@keyframes zoomout {
	from {
		-webkit-transform: scale(1.05);
		        transform: scale(1.05);
	}
	to {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
.first-screen__content {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
}
.first-screen__content .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.first-screen__center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}
.first-screen__center h1 {
	position: relative;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 85px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #FFFFFF;
	opacity: 0;
	will-change: opacity, transform;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-transform: translateY(-40px);
	        transform: translateY(-40px);
	-webkit-animation: opacityDown .5s 1s ease-out forwards;
	        animation: opacityDown .5s 1s ease-out forwards;
}
.first-screen__center h1 span {	display: block; }
.first-screen__center h1::after {
	position: absolute;
	top: -50px;
	left: 50%;
	display: block;
	width: 340px;
	height: 360px;
	border: 10px solid rgba(255, 255, 255, .3);
	opacity: 0;
	will-change: opacity;
	content: "";
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-animation: opacityOnly .5s 1.5s ease-out forwards;
	        animation: opacityOnly .5s 1.5s ease-out forwards;
}
.first-screen__buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 30px;
}
.first-screen__buttons .btn {
	position: relative;
	width: 180px;
	height: 60px;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 60px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #FFFFFF;
	border: 1px solid;
	border-radius: 0px;
	opacity: 0;
	-webkit-transition: background-color .3s, border-color .3s;
	transition: background-color .3s, border-color .3s;
	will-change: opacity, transform;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;
	-webkit-animation: opacityOnly .5s 1.75s ease-out forwards;
	        animation: opacityOnly .5s 1.75s ease-out forwards;
}
@-webkit-keyframes opacityOnly {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes opacityOnly {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.first-screen__buttons .btn span {
	display: block;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	-webkit-transform: translateX(0px);
	        transform: translateX(0px);
}
.first-screen__buttons .btn:hover span {
	-webkit-transform: translateX(-10px);
	        transform: translateX(-10px);
}
.first-screen__buttons .btn svg {
	position: absolute;
	top: 50%;
	right: -10px;
	display: block;
	opacity: 0;
	-webkit-transition: opacity .3s, -webkit-transform .3s .1s;
	transition: opacity .3s, -webkit-transform .3s .1s;
	transition: opacity .3s, transform .3s .1s;
	transition: opacity .3s, transform .3s .1s, -webkit-transform .3s .1s;
	-webkit-transform: rotate(180deg) translate(0, 50%);
	        transform: rotate(180deg) translate(0, 50%);
}
.first-screen__buttons .btn:hover svg {
	opacity: 1;
	-webkit-transform: rotate(180deg) translate(30px, 50%);
	        transform: rotate(180deg) translate(30px, 50%);
}
.first-screen__buttons .btn path {
	fill: white;
}
.first-screen__buttons .btn--accent {
	background-color: var(--accentColor);
	border-color: var(--accentColor);
	margin-right: 30px;
}
.first-screen__buttons .btn--accent:hover {
	background-color: #b72313;
	border-color: #f1f1f1;
}
.first-screen__buttons .btn--second {
	background-color: var(--gray);
	border-color: var(--gray);
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}
.first-screen__buttons .btn--second:hover {
	background-color: #737373;
	border-color: #f1f1f1;
}
.first-screen__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 100px;
}
.first-screen__bottom:hover {
	-webkit-transform: translateY(10px);
	        transform: translateY(10px);
	margin-top: 80px;
}
.first-screen__bottom .scroll-down {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	opacity: 0;
	will-change: opacity, transform;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transform: translateY(-40px);
	        transform: translateY(-40px);
	-webkit-animation: opacityDown .3s 2.25s forwards;
	        animation: opacityDown .3s 2.25s forwards;
	text-decoration: none;
}
.first-screen__bottom:hover .scroll-down {
	padding-top: 20px;
}
.scroll-down__text {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #B6B6B6;

	text-transform: uppercase;
	margin-bottom: 20px;
}
.scroll-down__arrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 34px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.scroll-down__arrow span {
	display: block;
	width: 50%;
	height: 4px;
	background-color:  var(--gray);
	-webkit-transition: background-color .3s, -webkit-transform .3s;
	transition: background-color .3s, -webkit-transform .3s;
	transition: transform .3s, background-color .3s;
	transition: transform .3s, background-color .3s, -webkit-transform .3s;
	-ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
	max-width: 50%;
	-webkit-transform-origin: top center;
	        transform-origin: top center;
}
.first-screen__bottom:hover span:first-child {
	-webkit-transform: skew(0deg, 20deg) ;
	        transform: skew(0deg, 20deg) ;
}
.first-screen__bottom:hover span:last-child {
	-webkit-transform: skew(0deg, -20deg) ;
	        transform: skew(0deg, -20deg) ;
}
.first-screen__bottom:hover span {
	background-color: var(--accentColor);
}
.index-why {
	border-bottom: 1px solid #e5e5e5;
	padding-top: 100px;
	padding-bottom: 100px;
}
.index-why__first {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 40px;
}
.why-first__heading {
	-ms-flex-preferred-size: 400px;
	    flex-basis: 400px;
	max-width: 400px;
	padding-left: 100px;
	padding-right: 60px;
}
.why-first__heading h2 {
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #000000;	
}
.why-first__text {
	-ms-flex-preferred-size: 660px;
	    flex-basis: 660px;
	max-width: 660px;
}
.why-first__text p {
	font-size: 16px;
	line-height: 26px;
	font-family: 'Roboto', sans-serif;
	color: #7B7B7B;
}
.index-why__second {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.why-second__benefits,
.why-second__book {
	-ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
	max-width: 50%;
}
.why-second__book {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-top: 100px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.index-book__wrapper {
	width: 380px;
	height: 380px;
	border: 10px solid #E3E3E3;
}
.index-book__img {
	position: relative;
	left: -100px;
	width: 433px;
	height: 333px;
}
.why-second__book .index-book__btn {
	position: absolute;
	right: 0;
	bottom: 0;
}
.accent-btn {
	display: block;
	width: 180px;
	height: 60px;
	font-weight: bold;
	font-size: 16px;
	line-height: 60px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #FFFFFF!important;
	background-color: var(--accentColor);
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	text-decoration: none!important;
	text-transform: uppercase;	
}
.accent-btn:hover {
	background-color: #b72313;
}
.benefit-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-bottom: 45px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.benefit-card__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100px;
	height: 100px;
	-ms-flex-preferred-size: 100px;
	    flex-basis: 100px;
	max-width: 100px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 100px;
}
.benefit-card__text {
	-ms-flex-preferred-size: calc(100% - 200px);
	    flex-basis: calc(100% - 200px);
	max-width: calc(100% - 200px);
	padding-left: 30px;
}
.benefit-card__text h3 {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #000000;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 15px;
}
.benefit-card__text p {
	font-size: 14px;
	line-height: 22px;
	font-family: Roboto, sans-serif;
	color: #7B7B7B;	
	margin-top: 0;
	margin-bottom: 0;
}
.index-how {
	width: 100%;
	background-color: #FFF;
	padding-top: 80px;
	padding-bottom: 90px;
}
.index-how h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #000000;
	margin-top: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.index-how .index-how__btn {
	display: block;
	width: 180px;
	height: 60px;
	font-weight: bold;
	font-size: 16px;
	line-height: 60px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #FFFFFF;
	background-color: var(--gray);
	border: 1px solid var(--gray);
	-webkit-transition: border-color .3s, background-color .3s;
	transition: border-color .3s, background-color .3s;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	text-transform: uppercase;
}
.index-how .index-how__btn:hover {
	background-color: #737373;
	border-color: #f1f1f1;
}
.index-how__wrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 90px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	justify-items: center;
	grid-template-areas:
	"card1 card1 card2 card2 card3 card3"
	"card1 card1 card2 card2 card3 card3"
	"card1 card1 card2 card2 card3 card3";
}
.how-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-preferred-size: 270px;
	    flex-basis: 270px;
	max-width: 270px;
	margin-bottom: 40px;
}
.how-card:nth-child(1) {grid-area: card1;}
.how-card:nth-child(2) {grid-area: card2;}
.how-card:nth-child(3) {grid-area: card3;}
.how-card__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 120px;
	height: 120px;
	-ms-flex-preferred-size: auto;
	    flex-basis: auto;
	max-width: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 30px;
}
.how-card__text {
	text-align: center;
	-ms-flex-preferred-size: auto;
	    flex-basis: auto;
	max-width: none;
}
.how-card__text h3 {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #000000;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 15px;
}
.how-card__text p {
	font-size: 14px;
	line-height: 22px;
	font-family: Roboto, sans-serif;
	color: #7B7B7B;	
	margin-top: 0;
	margin-bottom: 0;
}
.how-card__text a {
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	line-height: 23px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: var(--accentColor);
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	margin-top: 18px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.how-card__text a:hover {
	border-bottom-color: currentColor;
}
.index-testimonials {
	width: 100%;
	background-color: #FAFBFC;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 80px;
	padding-bottom: 80px;
}
.index-testimonials h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #000000;
	margin-top: 0;
	margin-bottom: 70px;
	text-transform: uppercase;
}
.index-testimonials__wrapper {
	position: relative;
}
.index-testimonials__item {
	width: 100%;
	margin: 0 auto;
	max-width: 760px;
}
.index-testimonials__item p {
	font-size: 18px;
	line-height: 32px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #000000;	
	margin-top: 0;
	margin-bottom: 50px;
}
.index-testimonials__item p::before {content: "“";}
.index-testimonials__item p::after {content: "”";}
.index-testimonials__item cite {
	display: block;
	text-align: center;
	margin-bottom: 30px;
}
.index-testimonials__item cite a {
	position: relative;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	font-family: "Roboto Condensed";
	text-align: center;
	color: var(--accentColor);
	text-transform: uppercase;
	text-decoration: none;
}
.index-testimonials__item cite a::after {
	position: absolute;
	bottom: -17px;
	left: calc(50% - 17px);
	display: block;
	width: 34px;
	height: 4px;
	background-color: currentColor;
	content: "";
}
.index-testimonials__slider-controls {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	pointer-events: none;
}
.index-testimonials__slider-controls span {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 70px;
	height: 70px;
	pointer-events: all;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
}
.index-testimonials__slider-controls span:nth-child(1) {left: 0;}
.index-testimonials__slider-controls span:nth-child(2) {right: 0;}
.index-testimonials__slider-controls svg {
	width: 36px;
	height: 21px;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	stroke:var(--gray);
	stroke-width: 1px;
	stroke-linecap: round;
	overflow: visible;
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.index-testimonials__slider-controls span:hover svg {
	-webkit-transform: scale(1.5);
	        transform: scale(1.5);
}
.index-testimonials__slider-controls span path {
	fill: var(--gray);
}
.index-testimonials__slider-controls span:nth-child(2) svg {
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.index-testimonials__slider-controls span:nth-child(2):hover svg {
	-webkit-transform: rotate(180deg) scale(1.5);
	        transform: rotate(180deg) scale(1.5);
}
.index-price {
	width: 100%;
	background-color: #FAFBFC;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 80px;
	padding-bottom: 140px;
}
.index-price h2 {
	position: relative;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #000000;
	margin-top: 0;
	margin-bottom: 90px;
	text-transform: uppercase;
}
.index-price h2::after {
	position: absolute;
	bottom: -17px;
	left: calc(50% - 17px);
	display: block;
	width: 34px;
	height: 4px;
	background-color: var(--accentColor);
	content: "";
}
.price-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 750px;
	height: 340px;
	background-color: #FFFFFF;
	max-width: 100%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
	        box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
}
.price-card__img {
	-ms-flex-preferred-size: 360px;
	    flex-basis: 360px;
	max-width: 360px;
}
.price-card__img picture,
.price-card__img img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.price-card__data {
	position: relative;
	padding: 50px;
	-ms-flex-preferred-size: calc(100% - 360px);
	    flex-basis: calc(100% - 360px);
	max-width: calc(100% - 360px);
}
.price-card__data span {
	font-weight: 500;
	font-size: 48px;
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	color: var(--accentColor);
}
.price-card__data h3 {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #000000;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.price-card__data p {
	font-size: 14px;
	line-height: 23px;
	font-family: 'Roboto', sans-serif;
	color: #7B7B7B;
}
.index-price .index-price__btn {
	position: absolute;
	right: 0;
	bottom: 0;
}
.index-where {
	width: 100%;
	background-color: #FFF;
	padding-top: 80px;
	padding-bottom: 110px;
}
.index-where h2 {
	position: relative;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #000000;
	margin-top: 0;
	margin-bottom: 90px;
	text-transform: uppercase;
}
.index-where h2::after {
	position: absolute;
	bottom: -17px;
	left: calc(50% - 17px);
	display: block;
	width: 34px;
	height: 4px;
	background-color: var(--accentColor);
	content: "";
}
.index-where__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
	"item1 item2"
	"item1 item2";
}
.where-item {
	position: relative;
}
.where-item:nth-child(1) {grid-area: item1 }
.where-item:nth-child(2) {grid-area: item2;}
.where-item__img {
	position: relative;
	height: 265px;
	overflow: hidden;
}
.where-item__img picture,
.where-item__img img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.where-item__img::before {
	position: absolute;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
	content: "";
}
.where-item__text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.where-item__text span {
	position: relative;
	font-weight: bold;
	font-size: 48px;
	line-height: 63px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 60px;
}
.where-item__text span::before {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	display: block;
	width: 100px;
	height: 100px;
	border: 6px solid #FFFFFF;
	content: "";
}
.where-item__text p {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 60px;
}
.hiw-steps {
	overflow: hidden;
}
.hiw-step {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 120px;
}
.hiw-step__number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 68px;
	height: 68px;
	border: 2px solid #ECECEC;
	border-radius: 50%;
	-ms-flex-preferred-size: 68px;
	    flex-basis: 68px;
	max-width: 68px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.hiw-step__number span {
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	color: var(--accentColor);
}
.hiw-step__data {
	-ms-flex-preferred-size: 660px;
	    flex-basis: 660px;
	max-width: 660px;
	margin-left: 30px;
}
.hiw-step__data h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #000000;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
}
.hiw-step__data p {
	font-size: 16px;
	line-height: 28px;
	font-family: 'Roboto', sans-serif;
	color: #7B7B7B;
	margin-top: 0;
	margin-bottom: 0;
}
.hiw-step__img {
	position: relative;
}
.hiw-step__img picture,
.hiw-step__img img {
	display: block;
	width: 450px;
	height: 300px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
	margin-left: auto;
	margin-right: auto;
}
.hiw-step__btn {
	position: absolute;
	bottom: -30px;
	left: calc(50% - 90px);
}
.poly-block {
	position: relative;
	width: 100%;
}
.poly-block::before,
.poly-block::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(238, 240, 241, .4);
	content: "";
}
.poly-block::before {
	-webkit-clip-path: polygon(0 20%, 0% 100%, 100% 100%);
	        clip-path: polygon(0 20%, 0% 100%, 100% 100%);
}
.poly-block::after {
	-webkit-clip-path: polygon(100% 20%, 0% 100%, 100% 100%);
	        clip-path: polygon(100% 20%, 0% 100%, 100% 100%);
}
.poly-block__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.poly-block__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 200px;
	height: 64px;
	background-color: #FFFFFF;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
	        box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
	margin-bottom: 120px;
	text-decoration: none!important;
}
.poly-block__btn:hover {
	background-color: var(--accentColor);
}
.poly-block__btn svg {
	display: block;
	margin-right: 20px;
}
.poly-block__btn span {
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #000000;	
	-webkit-transition: color .3s;	
	transition: color .3s;
	text-transform: uppercase;
}
.poly-block__btn:hover span {
	color: white;
}
.poly-block__btn path {
	-webkit-transition: fill .3s;
	transition: fill .3s;
}
.poly-block__btn:hover path {
	fill: white;
}
.hiw-learn-more {}
.remodal {
	width: 853px;
	padding: 0;
	max-width: 100%;
}
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
	-webkit-filter: none;
	        filter: none;
}
/* Close button */
.remodal-close {
	position: absolute;
	top: -40px;
	right: -40px;
	display: block;
	width: 32px;
	height: 32px;
	padding: 0;
	border: 0;
	border: none;
	-webkit-transition: -webkit-transform .1s;
	transition: -webkit-transform .1s;
	transition: transform .1s;
	transition: transform .1s, -webkit-transform .1s;
	outline: 0;
	background: transparent;
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	background-position: center;
}
.remodal-close:hover {
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.remodal-close::before {
	position: absolute;
	top: 0;
	display: block;
	width: 32px;
	height: 32px;
	content: "";
}
.remodal__body {
	width: 100%;
}
.video-container {
	position:relative;
	height:0;
	padding-bottom:50%;
	padding-top:30px;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.hiw-faq h2 {
	text-transform: none;		
}
.hiw-faq__wrapper {
	margin-bottom: 160px;
}
.panel-group {
	width: 945px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.panel-group .panel {
	padding: 30px;
	-webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
	        box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
	margin-bottom: 20px;
}
.panel-title {
	margin: 0;
}
.panel-title > a {
	position: relative;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #000000;
	padding-right: 50px;
	text-decoration: none;
	text-transform: uppercase;
}
.panel-title > a::after {
	position: absolute;
	top: 10px;
	right: 5px;
	display: block;
	width: 20px;
	height: 12px;
	content: "";
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../img/arrow.svg);
	pointer-events: none;
}
.panel-title > a.collapsed::after {
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
}
.panel-title > a:not(.collapsed)::after {
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.panel-body {
	border-top: 1px solid #E6E6E6;
	margin-top: 30px;          
}
.panel-body p,
.panel-body li {
	font-size: 18px;
	line-height: 32px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}
.panel-body ul {
	padding-left: 20px;
}
.collapse {
	display: none;
}
.collapse.in {
	display: block;
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-property: height, visibility;
	transition-property: height, visibility;
	-webkit-transition-duration: 0.35s;
	        transition-duration: 0.35s;
	-webkit-transition-timing-function: ease;
	        transition-timing-function: ease;
}
.panel-body a:not(.accent-btn) {
	color: #333333;
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	border-bottom: 1px solid transparent;
}
.panel-body a:not(.accent-btn):hover {
	border-bottom-color: #333333;
}
.about-content__item {
	width: 100%;
	height: auto;
}
.about-content__img {
	width: 100%;
}
.about-content__img img,
.about-content__img picture {
	display: block;
	width: 100%;
	height: 300px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.about-content__text {
	width: 650px;
	padding: 40px 50px;
	background-color: #FFF;
	max-width: 100%;
	-webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
	        box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
}
.about-content__text p {
	font-size: 18px;
	line-height: 32px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
}
.inspections-intro {
	width: 100%;
	background-color: #FFF;
}
.inspections-intro__wrapper {
	width: 750px;
	margin: 0 auto 60px;
	max-width: 100%;
}
.inspections-intro p {
	font-size: 16px;
	line-height: 28px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #7B7B7B;
}
.inspections-table {
	width: 750px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.inspections-table__body {
	width: 100%;
	margin-bottom: 70px;
}
.inspections-table__title,
.inspections-table__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.inspections-table__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}
.inspections-table__title strong {
	display: block;
	color: var(--accentColor);
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	max-width: 100%;
}
.inspections-table__title .inspections-table__right {
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.inspections-table span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 56px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.inspections-table__left {
	text-align: left;
	-ms-flex-preferred-size: 220px;
	    flex-basis: 220px;
	max-width: 100%;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	border-right: 1px solid #E1E1E1;
}
.inspections-table__right {
	position: relative;
	text-align: center;
	-ms-flex-preferred-size: 220px;
	    flex-basis: 220px;
	max-width: 220px;	
}
.inspections-table__data .inspections-table__right {
	background-repeat: no-repeat;
	background-position: center;
}
.inspections-table__data .inspections-table__right.is-included {
	background-image: url(../img/inspections/yes.svg);
}
.inspections-table__data .inspections-table__right.is-not-included {
	background-image: url(../img/inspections/no.svg);
}
.inspections-table__data .inspections-table__right::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(55, 189, 100, .1);
	content: "";
}
.inspections-table__data {
	font-size: 16px;
	line-height: 22px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}
.inspections-table__row:nth-child(odd) span {
	background-color: #F4F4F4;
}
.inspections-table__row .inspections-table__right b {
	display: none;
}
.inspections-table__btn {
	margin: 0 auto 90px;
}
/* temporary variant */
.contacts-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 800px;
	margin: 80px auto 110px;
	max-width: 100%;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.contacts-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.contacts-item__img {
	min-width: 100px;
}
.contacts-item__data {
	font-size: 24px;
	line-height: 38px;
	font-family: 'Roboto', sans-serif;
	margin-left: 30px;
}
.contacts-item__data p {
	color: #7B7B7B;
	margin-top: 0;
	margin-bottom: 0;
}
.contacts-item__data a {
	color: black;
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.contacts-item__data a:hover {
	border-bottom-color: currentColor;
}
.contacts-form {
	position: relative;
	width: 100%;
	padding-bottom: 100px;
}
.contacts-form::before,
.contacts-form::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(238, 240, 241, .4);
	content: "";
}
.contacts-form::before {
	-webkit-clip-path: polygon(0 60%, 0% 100%, 100% 100%);
	        clip-path: polygon(0 60%, 0% 100%, 100% 100%);
}
.contacts-form::after {
	-webkit-clip-path: polygon(100% 60%, 0% 100%, 100% 100%);
	        clip-path: polygon(100% 60%, 0% 100%, 100% 100%);
}
.contacts-form__wrapper {
	position: relative;
	width: 440px;
	padding: 40px;
	background-color: #FFFFFF;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0 4px 40px 0 rgba(0, 0, 0, .12);
	        box-shadow: 0 4px 40px 0 rgba(0, 0, 0, .12);
}
.contacts-form h1 {
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}
.contacts-form p {
	font-size: 16px;
	line-height: 19px;
	font-family: 'Roboto', sans-serif;
	color: #7B7B7B;
	margin-top: 10px;
	margin-bottom: 20px;
}
.form-line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.form-line label {
	font-size: 14px;
	line-height: 19px;
	font-family: 'Roboto', sans-serif;
	color: #222222;
	margin-bottom: 10px;
}
.form-line label .label-gray {
	color: #7B7B7B;
	margin-left: 5px;
}
.form-line .form-input {
	width: 100%;
	height: 50px;
	padding: 14px;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Roboto', sans-serif;
	color: #B6B6B6;
	background-color: #F4F4F4;
	border: none;
	border-radius: 0;
	margin-bottom: 25px;
}
.form-line .form-textarea {
	width: 100%;
	height: 130px;
	padding: 14px;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Roboto', sans-serif;
	color: #B6B6B6;
	background-color: #F4F4F4;
	border: none;
	border-radius: 0;
	resize: vertical;
	margin-bottom: 60px;
}
.contacts-form__btn.accent-btn {
	position: absolute;
	right: 0;
	bottom: 0;
	border: none;
	cursor: pointer;
}
.blog-search {
	width: 100%;
	background-color: #FFF;
}
.blog-search__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.blog-search form {
	position: relative;
	height: 60px;
	-ms-flex-preferred-size: auto;
	    flex-basis: auto;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin-left: 40px;
}
.blog-search .search-field {
	width: 100%;
	height: 100%;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;	
	color: #B6B6B6;
	background-color: #F4F4F4;
	border: none;
	border-radius: 0;
	padding-left: 75px;
}
.blog-search .search-submit {
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../img/blog/search.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.blog-content {
	padding-bottom: 70px;	
}
.blog-content__wrapper {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 360px);
	grid-gap: 44px;
	justify-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.blog-card {
	position: relative;
	width: 360px;
	background-color: #FFFFFF;
	grid-column-end: span 1;
	-webkit-box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
	        box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
	max-width: 100%;
}
.blog-card a {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
	text-decoration: none;
}
.blog-card a:hover {
	opacity: 0.7;
}
.blog-card__img {
	display: block;
	width: 100%;
	height: 220px;
}
.blog-card__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.blog-card__text {
	padding: 20px 30px;
}
.blog-card__text h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	text-transform: uppercase;
}
.blog-card__text p {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	color: #000000;	
}
.blog-card__date {
	position: absolute;
	top: 20px;
	left: 28px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 42px;
	padding: 10px;
	background-color: rgba(0, 0, 0, .14);
	border: 3px solid #FFFFFF;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.blog-card__date p {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
}
.article-img {
	width: 100%;
}
.article-img__wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.article-img picture,
.article-img img {
	display: block;
	width: 100%;
	height: 600px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.article-img__title {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 15;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.article-img__title h1  {
	width: 700px;
	margin: 0 auto 20px;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;
font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #FFFFFF;
	max-width: 100%;
}
.article-img__details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 180px;
	height: 42px;
	padding: 10px;
	background-color: rgba(0, 0, 0, .14);
	border: 3px solid #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.article-img__details p  {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
}
.article-content {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.article-content p,
.article-content a,
.article-content li {
	width: 750px;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.article-content a {
	font-weight: bold;
	color: var(--accentColor);
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.article-content a:hover {
	border-bottom-color: currentColor;
}
.article-content img {
	display: block;
	margin: 50px auto;
	max-width: 100%;
}
.book-inspection-content {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 335px);
	padding-bottom: 100px;
}
.book-inspection-content::before,
.book-inspection-content::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(238, 240, 241, .4);
	content: "";
}
.book-inspection-content::before {
	-webkit-clip-path: polygon(0 60%, 0% 100%, 100% 100%);
	        clip-path: polygon(0 60%, 0% 100%, 100% 100%);
}
.book-inspection-content::after {
	-webkit-clip-path: polygon(100% 60%, 0% 100%, 100% 100%);
	        clip-path: polygon(100% 60%, 0% 100%, 100% 100%);
}
.footer-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-bottom: 40px;
	border-bottom: 1px solid #333333;
}
.footer-top__logo svg {
	width: 122px;
	height: auto;
}
.footer-top__menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding-left: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.footer-top__menu li:not(:last-child) {
	margin-right: 25px;
}
.footer-top__menu a {
	font-size: 14px;
	line-height: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFFFFF;
	-webkit-transition: color .3s;
	transition: color .3s;
	text-transform: uppercase;
	text-decoration: none;
}
.footer-top__menu a:hover {
	color: var(--accentColor);
}
.footer-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 40px;
}
.footer-bottom__copyright p {
	font-size: 12px;
	line-height: 14px;
	font-family: 'Roboto Condensed', sans-serif;
	color: var(--gray);
	margin-top: 0;
	margin-bottom: 0;
}
.footer-bottom__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	-ms-flex-preferred-size: 200px;
	    flex-basis: 200px;
	max-width: 200px;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer-bottom__social a {
	text-decoration: none;
	margin-left: 36px;
}
.footer-bottom__social path {
	-webkit-transition: fill .3s;
	transition: fill .3s;
	fill: #a6abb1;
}
.footer-bottom__social a:hover path {fill: white;}
.footer-bottom__social a:nth-child(1) svg {width: 20px;height: 20px;}
.footer-bottom__social a:nth-child(2) svg {width: 20px;height: 16.67px;}
.footer-bottom__social a:nth-child(3) svg {width: 27.5px;height: 17.5px;}
.footer-bottom__social a:nth-child(4) svg {width: 18.33px;height: 16.67px;}
@media (min-width: 480px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {
	.container {
		max-width: 970px;
	}}
@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
	.where-item__img picture,
	.where-item__img img {
		-webkit-transition: -webkit-transform 1s;
		transition: -webkit-transform 1s;
		transition: transform 1s;
		transition: transform 1s, -webkit-transform 1s;
		will-change: transform;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}

	.where-item__img::before {
		-webkit-transition: background-color .3s;
		transition: background-color .3s;
	}

	.where-item:hover .where-item__img::before {
		background-color: rgba(0, 0, 0, .2);
	}

	.where-item:hover .where-item__img img,
	.where-item:hover .where-item__img picture {
		-webkit-transform: scale(1.05);
		        transform: scale(1.05);
	}
	.hiw-step:nth-child(even) {
		left: 390px;
	}

	.hiw-step__img {
		position: absolute;
		top: 0;
		left: 860px;
	}

	.hiw-step:nth-child(even) .hiw-step__img {
		left: -550px;
	}

	.hiw-step__btn {
		bottom: -20px;
		left: -20px;
	}
	.about-content__item {
		margin-bottom: -100px;
	}

	.about-content__text {
		position: relative;
		top: -200px;
	}

	.about-content__item:nth-child(even) .about-content__text {
		margin-left: auto;
	}}
@media (max-width: 1199px) {
	.index-why__first {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 0;
	}

	.why-first__heading {
		padding-left: 0;
		padding-right: 0;
	}

	.why-first__heading,
	.why-first__text {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.why-first__heading h2,
	.why-first__text p {
		text-align: center;
	}
	.index-why__second {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.why-second__benefits,
	.why-second__book {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.why-second__book {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
		padding-top: 70px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding-left: 20px;
		max-width: 500px;
		margin-bottom: 100px;
	}
	.benefit-card__img {
		margin-left: 0;
	}

	.benefit-card__text {
		-ms-flex-preferred-size: calc(100% - 100px);
		    flex-basis: calc(100% - 100px);
		max-width: calc(100% - 100px);
	}
	.hiw-step__img {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		margin-bottom: 80px;
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
	}

	.hiw-step__number {
		margin: 10px auto;
	}

	.hiw-step__data {
		text-align: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		margin-left: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	.about-content__item {
		margin-bottom: -75px;
	}

	.about-content__text {
		position: relative;
		top: -150px;
		margin-left: auto;
		margin-right: auto;
	}
	.blog-content__wrapper {
		grid-template-columns: repeat(2, 360px);
	}
	.blog-content--relevant .blog-card:last-child {
		display: none;
	}}
@media (max-width: 991px) {
	.first-screen {
		height: 1024px;
		min-height: auto;
	}
	.index-how h2 {
		margin-bottom: 0;
	}
	.index-how__wrapper {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		grid-template-areas:
		"card1 card1 card1 card3 card3 card3"
		"card1 card1 card1 card3 card3 card3"
		"card2 card2 card2 card3 card3 card3";
	}
	.index-testimonials__item{
		max-width: 540px;
	}
	.remodal-close {
		top: -50px;
		right: 0px;
	}
	.contacts-details {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.contacts-item {
		text-align: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-left: 50px;
		margin-right: 50px;
	}

	.contacts-item__data {
		margin-left: 0;
		margin-top: 30px;
	}

	.contacts-item__data p {
		margin-bottom: 15px;
	}
	.blog-content {
		padding-bottom: 90px;
	}}
@media (max-width: 767px) {
	h1,h2 {
		font-size: 24px;
		line-height: 32px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.header-control {
		top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.header-menu {
		/* padding: 20px; */
		/* min-height: 600px; */
		/* overflow-y: auto; */
	}

	.header-menu__content {
		min-height: 440px;
	}
	.header-menu__items {
		min-height: calc(100% - 60px);
	}
	
	.header-menu--active .header-menu__items li:nth-last-child(1) {display: list-item;}
	.header-menu__items a {
		font-size: 24px;
		line-height: 52px;
	}
	.first-screen__center {
		max-width: 300px;
	}

	.first-screen__center h1 {
		font-size: 30px;
		line-height: 40px;
		font-family: 'Roboto Condensed', sans-serif;
	}

	.first-screen__center h1::after {
		width: 230px;
		height: 270px;
		border: 8px solid rgba(255, 255, 255, .3);
	}
	.first-screen__buttons {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.first-screen__buttons .btn {
		width: 128px;
		height: 42px;
		margin: 5px;
		font-size: 14px;
		line-height: 42px;
	}

	.first-screen__buttons .btn:hover svg {
		opacity: 1;
		-webkit-transform: rotate(180deg) translate(20px, 50%);
		        transform: rotate(180deg) translate(20px, 50%);
	}
	.index-why {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.index-why__first {
		padding-left: 15px;
		padding-right: 15px;
	}

	.why-first__heading h2 {
		font-size: 24px;
		line-height: 32px;
	}

	.why-first__text p {
		font-size: 14px;
		line-height: 23px;
	}

	.why-second__book {
		max-width: 268px;
	}

	.index-book__wrapper {
		width: 248px;
		height: 248px;
		border: 8px solid #E3E3E3;
	}

	.index-book__img {
		top: 10px;
		left: -40px;
		width: 254px;
		height: 196px;
	}
	.benefit-card {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-left: 15px;
		padding-right: 15px;
	}

	.benefit-card__img {
		width: 100%;
		height: 100px;
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
		max-width: none;
	}

	.benefit-card__text {
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
		max-width: none;
		padding-left: 0;
	}

	.benefit-card__text h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	.benefit-card__text p {
		text-align: center;
	}
	.index-how h2 {
		margin-bottom: 30px;
	}
	.index-how__wrapper {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		grid-column-gap: 0;
		grid-template-areas:
		"card1 card1 card1 card1 card1 card1"
		"card2 card2 card2 card2 card2 card2"
		"card3 card3 card3 card3 card3 card3";
	}
	.how-card__text h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	.how-card__text p {
		text-align: center;
	}
	.index-testimonials {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.index-testimonials h2 {
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		max-width: 230px;		
	}

	.index-testimonials__slider-controls {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.index-testimonials__slider-controls span {
		top: -30px;
	}
	.index-testimonials__item {
		max-width: calc(100% - 140px);
	}
	.index-testimonials__item p {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	.index-testimonials__item cite a {
		font-size: 14px;
		line-height: 19px;
	}
	.index-price {
		padding-top: 40px;
		padding-bottom: 70px;
	}
	.index-price h2 {
		font-size: 24px;
		line-height: 32px;
	}
	.price-card {
		width: 280px;
		height: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.price-card__img,
	.price-card__data {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.price-card__data {
		padding: 20px 15px 60px;
		text-align: center;
	}

	.price-card__data span {
		font-size: 36px;
	}

	.price-card__data h3 {
		font-size: 18px;
		line-height: 25px;
		margin-top: 14px;
		margin-bottom: 14px;
	}

	.index-price .index-price__btn {
		width: 148px;
		height: 42px;
		font-size: 14px;
		line-height: 42px;
	}
	.index-where {
		padding-top: 40px;
		padding-bottom: 70px;
	}
	.index-where h2 {
		font-size: 24px;
		line-height: 32px;
	}
	.hiw-step {
		margin-bottom: 50px;
	}

	.hiw-step__img {
		margin-bottom: 50px;
	}
	
	.hiw-step__number {
		margin-top: 0;
		margin-bottom: 0;
	}

	.hiw-step__data h2 {
		font-size: 20px;
		line-height: 27px;
	}

	.hiw-step__data p {
		font-size: 14px;
		line-height: 24px;
	}
	.remodal-close {
		top: -35px;
		right: -35px;
	}
	.remodal-wrapper {
		padding: 30px 45px 0;
	}
	.panel-group .panel {
		padding: 25px 15px;
	}

	.panel-title > a {
		line-height: 1;
	}

	.panel-title > a::after {
		top: 10px;
	}

	.panel-body {
		margin-top: 20px;
	}
	
	.panel-body p,
	.panel-body li {
		font-size: 14px;
		line-height: 26px;
	}
	.about-content__item {
		margin-bottom: 0;
	}
	.about-content__text {
		position: static;
		top: 0;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}

	.about-content__text p {
		font-size: 14px;
		line-height: 26px;
	}
	.inspections-intro__wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
	.contacts-details {
		margin-top: 40px;
		margin-bottom: 0;
	}

	.contacts-item {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		margin-bottom: 40px;
	}
	.blog-search__wrapper {
		padding: 15px;
	}
	.blog-content {
		padding-top: 20px;
		padding-bottom: 80px;
	}
	.blog-content__wrapper {
		grid-template-columns: repeat(1, minmax(100%, 360px));
	}
	.article-img picture,
	.article-img img {
		height: 480px;
	}
	.article-img__title {
		padding: 30px 10px;
	}

	.article-img__title h1 {
		font-size: 24px;
		line-height: 33px;
	}

	.article-img__title p {
		font-size: 18px;
		line-height: 24px;
	}
	.article-content {
		padding-left: 15px;
		padding-right: 15px;
	}
	.blog-content--relevant .blog-card:last-child {
		display: block;
	}
	.footer-top {
		padding-top: 20px;
		padding-bottom: 60px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.footer-top__logo {
		text-align: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		margin-bottom: 50px;
	}

	.footer-top__menu ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.footer-top__menu li:not(:last-child) {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.footer-bottom {
		padding-top: 70px;
		padding-bottom: 20px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.footer-bottom__copyright {
		text-align: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		margin-top: 30px;
	}

	.footer-bottom__social {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 20px;
	}

	.footer-bottom__social a {
		margin-left: 18px;
		margin-right: 18px;
	}}
@media (max-width: 641px) {
	.inspection-link {
		display: none;
	}}
@media (max-width: 479px) {
	.first-screen {
		height: 600px;
	}
	.first-screen__content {
		background-color: rgba(6, 7, 4, .4);
	}
	.index-where__wrapper {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		justify-items: center;
		grid-template-areas:
		"item1 item1"
		"item2 item2";
	}
	.where-item {
		width: 280px;
	}

	.where-item__img {
		height: auto;
	}
	.panel-title > a {
		text-align: center;
		padding-right: 0;
		padding-bottom: 30px;
	}

	.panel-title > a::after {
		top: auto;
		right: calc(50% - 8px);
		bottom: 0;
	}

	.inspections-table__title .inspections-table__right {
		display: none;
	}

	.inspections-table__left {
		border-right: none;
	}

	.inspections-table__left,
	.inspections-table__right {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.inspections-table__data .inspections-table__right {
		background-position: calc(100% - 30px) center;
	}

	.inspections-table__row .inspections-table__right b {
		display: block;
	}

	.inspections-table__row .inspections-table__right b strong {
		color: var(--accentColor);
		margin-left: 10px;
	}
	.inspections-table__title .inspections-table__right {
		display: block;
	}

	.inspections-table__title .inspections-table__left,
	.inspections-table__title .inspections-table__right {
		text-align: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.inspections-table__left {
		-ms-flex-preferred-size: calc(100% - 50px);
		    flex-basis: calc(100% - 50px);
		max-width: calc(100% - 50px);
	}
	.inspections-table__right {
		-ms-flex-preferred-size: 50px;
		    flex-basis: 50px;
		max-width: 50px;
	}

	.inspections-table__data .inspections-table__right {
		background-position: center;
	}

	.inspections-table__row .inspections-table__right b {
		display: none;
	}
	.contacts-form__wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}

	.form-line .form-textarea {
		margin-bottom: 40px;
	}

	.contacts-form__btn.accent-btn {
		position: static;
		margin-left: auto;
		margin-right: auto;
	}
	.blog-search h1 {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}

	.blog-search form {
		margin-left: 0;
	}}

/*# sourceMappingURL=styles.css.map */
